<div class="navigation-buttons">
    <h2>Reviews: </h2>
    <p class="quote-text">Content: {{ reviewContent }}</p>
    <button (click) = "decrementReviewContent()"> - </button>
    <button (click) = "incrementReviewContent()"> + </button>
    <p class="quote-text">Style: {{ reviewStyle }}</p>
    <button (click) = "decrementReviewStyle()"> - </button>
    <button (click) = "incrementReviewStyle()"> + </button>
    <p class="quote-text">User Friendliness: {{ reviewUserFriendliness }}</p>
    <button (click) = "decrementReviewUserFriendliness()"> - </button>
    <button (click) = "incrementReviewUserFriendliness()"> + </button>
  </div>
  
