.container {
  display: flex;
  justify-content: space-between; 
  gap: 20px; 
  flex-wrap: wrap; 
  padding-left: 150px;
}

.container > * {
  flex: 1; 
  min-width: 300px; 
  box-sizing: border-box; 
}