:root {

  --sidebar-width: 245px;
}

@media (max-width: 768px) {
  :root { --sidebar-width: 0px; }
}

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Poppins', system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.6;
  color: #111827;
}


*, *::before, *::after {
  box-sizing: border-box;
}


h1 { font-weight: 600; line-height: 1.25; margin: 0.67em 0; }
h2 { font-weight: 600; line-height: 1.3;  margin: 0.6em 0; }
h3 { font-weight: 500; line-height: 1.35; margin: 0.6em 0; }
p  { margin: 0.5em 0; }

li {
  font-family: inherit;
  font-weight: 400;
  font-size: inherit;
  color: inherit;
  line-height: 1.6;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
